<div class="ui secondary pointing menu">
    <a class="active item" href="/">
      Recientes
    </a>
    <a class="item" href="/category/comida" id="comida">
      Comidas
    </a>
    <a class="item">
      Postres
    </a>
    <div class="right menu">
        <div class="ui category search item">
            <div class="ui action input">              
                <input class="prompt" type="text" placeholder="Buscar receta" id="busqueda">   
                <div class="ui button" id="buscar">Buscar</div>        
            </div>
        </div>
    </div>
  </div>