<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>
    {%- include navbar.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  <script src="{{ "/assets/js/jquery-3.5.1.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/semantic.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/fuse.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/functions.js" | relative_url }}"></script>  
  <script src="{{ "/assets/js/search.js" | relative_url }}"></script>  
  </body>

</html>